#zuitt {
	font-family:sans-serif;
	text-align: center;

}

h2 {
	font-family: sans-serif;
	font-size: 20px;
	margin-left: 70px;
}

#paragraph {
	font-family: sans-serif;
	font-size: 15px;
	margin-left: 70px;

}
.footer_color {
	background-color: #002540;
	padding: 3rem 1.5rem 2rem;
	position: bottom;
}

.container {
	margin: 0 auto;
	position: relative;
}

.columns_multiline {
	flex-wrap: wrap;

}

/*.aboutcolumns {
	flex: none;
	width: 50%;
}*/

.main-category {
	color: #ffff;
	font-size: 1.33rem;
	font-family: sans-serif;
	font-weight: 600;
}

#list_about {
	font-family: sans-serif;
	color: #ffff;
}

#careers_footer {
	display: inline;
	margin-left: 150px;
}

#junior {
	display: inline;
	margin-left: 195px;
}

#junior2 {
	display: inline;
	margin-left: 128px;
}

#junior3 {
	display: inline;
	margin-left: 177px;
}

#junior4 {
	display: inline;
	margin-left: 176px;
}

#follow_footer {
	display: inline;
	margin-left: 200px;
}

#facebook {
	display: inline;
	margin-left: 162px;
}

#linkedin {
	display: inline;
	margin-left: 140px;
}

#contact_footer {
	display: inline;
	margin-left: 200px;
}

#dial1 {
	display: inline;
	margin-left: 230px;
}

#dial2 {
	display: inline;
	margin-left: 241px;
}

#dial3 {
	display: inline;
	margin-left: 513px;
}

#terms {
	font-family: sans-serif;

}

#terms2 {
	font-family: sans-serif;
	margin-left: 30px;
}


#terms3 {
	font-family: sans-serif;
		margin-left: 30px;
}

#terms4 {
	font-family: sans-serif;
		margin-left: 30px;
}

#terms5 {
	font-family: sans-serif;
	margin-left: 30px;
}

